@import "table";
section{
    margin: 1rem;
}

.el-tree-node__content{
    &:hover{
        .hover-show{
            .hover-show-item {
                display: inline-block;
                i:hover{
                    color: #ff6832;
                }
            }
        }
    }
    .hover-show{
        .hover-show-item{
            display: none;
        }
    }
}

.el-icon-sort-down:before,.el-icon-sort-up:before{
    content: ""!important;
}

.el-submenu__title:hover,.el-menu-item:hover, .el-menu-item:focus{
    background-color: #1c2531;
}
.el-menu[role="menu"]{
    background-color: #293648;
}

.image-viewer{
    z-index: 9999;
    .image-viewer-content{
        height: 100%;
        img{
            width: auto;
            height: auto;
            max-width: 90%;
            max-height: 90%;
        }
    }
}
