.table-top-button-container,.table-top-item{
    float: left;
    margin: 12px 12px 12px 0;
}
.table-top-button-container{
    padding-bottom: 0!important;
    button{
        margin-bottom: 0!important;
    }
}
.table-top-item{
    max-width: 160px;
}
.el-form{
    .el-input{
        max-width: 430px;
    }
    .el-textarea{
        max-width: 430px;
    }
}
.el-table .el-table__row .cell{
   white-space: nowrap;
}
.audioDialog{
    width: 300px;
    background-color: #324157;
    transform: scale(1.2);

    .el-dialog__header {
        padding: 10px 10px 0;
    }
    .el-dialog__title {
        color: #fff;
    }

    .el-dialog__body {
        padding: 10px 20px;
        line-height: normal;
    }
}
.panel{
    .el-form-item:after {
        content: " ";
        width: 96%;
        border: 1px solid #f7f6f6;
        border-top: none;
        margin: 6px auto auto;
    }
}
.el-form-item__error{
    position: relative;
}

